<div class="container">
    <form>


        <div *ngIf="step == 1">  
            <h5 class="text-center">First Step</h5>
        
           <div>
              <span class="p-float-label">
                  <input id="float-input" type="text" name="fname" [(ngModel)]="registrationData.fname"> 
                  <label for="float-input">First Name</label>
              </span>
          </div>

          <br>

          <div>
              <span class="p-float-label">
                  <input id="float-input" type="text" name="lname" [(ngModel)]="registrationData.lname"> 
                  <label for="float-input">Last Name</label>
              </span>
          </div>


          <br>

          <div>
            <p-password [toggleMask] ="true" name="password" [(ngModel)]="registrationData.password"></p-password>
          </div>


          <br>
          <div>
            <span class="p-float-label">
                <input id="float-input" type="email" name="email" [(ngModel)]="registrationData.email"> 
                <label for="float-input">Email</label>
            </span>
        </div>


        <br>
        <div>
          <button pButton 
                  type="button" 
                  label="Next" 
                  class="p-button-success p-button-sm p-button-raised p-button-rounded"
                  (click)="next()"></button>
        </div>

        {{registrationData | json}}


        </div>


      <div *ngIf="step == 2"> 
        <h5 class="text-center">Second Step</h5>
         
        
        <div class="mb-3">
          <p-dropdown
                [options]="languages"
                placeholder="Select a Language"
                optionLabel="name"
                [showClear]="true">
          </p-dropdown>
        </div>
         
         
         
         
          <div class="mb-3">
         
          

            <div *ngFor="let category of categories" class="p-field-checkbox">
              <p-checkbox name="group2" value="category" [value]="category"  [(ngModel)]="selectedCategories" [inputId]="category.key" ></p-checkbox>
              <label [for]="category.key">{{category.name}}</label>
          </div>






            </div>

           







          <div class="mb-3">
              <button class="btn btn-warning btn-sm" (click)="previous()">Previous</button>
              <button class="btn btn-primary btn-sm" (click)="next()">Next</button>
              <button class="btn btn-success btn-sm" *ngIf="step!=2">Submit</button>
          </div>
      </div>


      <div *ngIf="step == 3">
        <h5 class="text-center">Third Step</h5>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="userPhone" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="password" class="form-control" id="userAdress">
          </div>
          <div class="mb-3">
            <button class="btn btn-warning btn-sm" (click)="previous()">Previous</button>
            <button class="btn btn-primary btn-sm" *ngIf="step!=3">Next</button>
            <button class="btn btn-success btn-sm">Submit</button>
          </div>
      </div>


    </form>

</div>