<div class="container">
    <form>


        <div *ngIf="step == 1">  
            <h5 class="text-center">First Step</h5>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname">
            </div>
            <div class="mb-3">
                <button class="btn btn-warning btn-sm" *ngIf="step!=1">Previous</button>
                <button class="btn btn-primary btn-sm" (click)="next()">Next</button>
                <button class="btn btn-success btn-sm" *ngIf="step!=1">Submit</button>
            </div>
        </div>


      <div *ngIf="step == 2"> 
        <h5 class="text-center">Second Step</h5>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="userPassword">
          </div>
          <div class="mb-3">
              <button class="btn btn-warning btn-sm" (click)="previous()">Previous</button>
              <button class="btn btn-primary btn-sm" (click)="next()">Next</button>
              <button class="btn btn-success btn-sm" *ngIf="step!=2">Submit</button>
          </div>
      </div>


      <div *ngIf="step == 3">
        <h5 class="text-center">Third Step</h5>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="userPhone" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="password" class="form-control" id="userAdress">
          </div>
          <div class="mb-3">
            <button class="btn btn-warning btn-sm" (click)="previous()">Previous</button>
            <button class="btn btn-primary btn-sm" *ngIf="step!=3">Next</button>
            <button class="btn btn-success btn-sm">Submit</button>
          </div>
      </div>


    </form>

</div>